<div class="page-header">
  <h1 class="page-title">
    Pending Jobs
  </h1>
</div>
<div class="row row-cards">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive table-condensed">
          <table class="table table-vcenter">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Run At</th>
                <th>Failed At</th>
                <th class="text-center">Attempts</th>
                <th class="w-1"></th>
              </tr>
            </thead>
            <tbody>
              <% @jobs.each do |job| %>
                <tr>
                  <td><%= job.id %></td>
                  <td class="text-muted"><%= job.queue %></td>
                  <td class="text-muted"><%= job.priority %></td>
                  <td class="text-muted"><%= job.created_at.strftime('%D %r') %></td>
                  <td class="text-muted"><%= job.run_at&.strftime('%D %r') %></td>
                  <td class="text-muted"><%= job.failed_at&.strftime('%D %r') %></td>
                  <td class="text-muted text-center"><%= job.attempts %></td>
                  <td><%= link_to 'More', job_path(job) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="text-right">
            <%= will_paginate @jobs, container: false, class: "paginate" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
